/* Watermark Started */
#watermark{
    width: fit-content;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
}
#watermark p{
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 500;
    opacity: 0.4;
}
/* Watermark Ends */
/* Welcome Page Started */
#welcome{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #023047;
    display: none !important;
}
#welcome .msg_box{
    width: fit-content;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px 10px;
    overflow: hidden;
}
.msg_box p{
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 700;
}
#welcome .quote{
    position: relative;
    width: 150%;
    height: 80px;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* padding: 10px 20px; */
    overflow: hidden;
}
.quote p{
    position: absolute;
    width: fit-content;
    color: #ffffff;
    font-size: 1.5rem;
    opacity: 0.8;
    top: 200%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

/* Welcome Page Ended */

/* Navabar */
#navbar{
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    padding: 10px 0;
}
#navbar > div{
   justify-content: space-between;
}
#navbar > div > div{
    height: 100%;
}
#navbar .nav_logo p{
    font-size: 1.5rem;
    font-weight: 500;
    color: blanchedalmond;
}
#navbar .nav_links{
    gap: 20px;
    position: relative;
    overflow: hidden;
}
#navbar .nav_links a{
    position: relative;
    /* top: 100%; */
    color: #175270;
    font-weight: 500;
}
#navbar .nav_links a:hover{
    color: #023047;
}

#navbar .menu_icon{
    height: 100%;
    border-radius: 30% 40% 40%;
    background-color: blanchedalmond;
    scale: 0;
}
/* Navbar Ends */



/* Media Queries */
@media screen and (max-width:460px) {
    
}